{template 'member', 'header'}
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}user_extend.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<script language="javascript" type="text/javascript" src="{JS_PATH}content_addtop.js"></script>
<script type="text/javascript" src="{SKIN_PATH}/My97DatePicker/WdatePicker.js"></script>

<div id="memberArea">
	{template 'seo', 'left'}
	<div class="col-auto">
		<div class="col-1 ">
			<h5 class="title">关键词历史</h5>
			<div class="mysearch">
			<form method="get" action="" id="searchform" name="searchform">	
				<input type="hidden" name="m" value="seo" />
				<input type="hidden" name="c" value="index" />
				<input type="hidden" name="a" value="keywords_history" />
				<input type="hidden" name="t" value="3" />
				<input type="hidden" name="kid" value="<?php echo $_REQUEST['kid'];?>" />
				
				<span style="margin-right:5px;">
					搜索引擎：
					<select style="width:90px;" onchange="$('#searchform').submit();" id="search_engine" name="search_engine">
						<?php
							$arr_search_engine = Array('all'=>'全部','1'=>'百度','2'=>'搜搜','3'=>'搜狗');
							$str = "";
							foreach($arr_search_engine as $k=>$v)
							{
								if($_REQUEST['search_engine']=="$k")
								{
									$str.= "<option value=".$k." selected='selected'>".$v."</option>";
								}
								else
								{
									$str.= "<option value=".$k.">".$v."</option>";
								}
							}
							echo $str;
						?>
					</select>        
				</span>
				<span>
				选择页码：
				<select name="rpage" id="rpage" onchange="$('#searchform').submit();">
					<?php
							$arr_search_engine = Array('all'=>'全部','1'=>'第1页','2'=>'第2页');
							$str = "";
							foreach($arr_search_engine as $k=>$v)
							{
								if($_REQUEST['rpage']=="$k")
								{
									$str.= "<option value=".$k." selected='selected'>".$v."</option>";
								}
								else
								{
									$str.= "<option value=".$k.">".$v."</option>";
								}
							}
							echo $str;
						?>
				</select>
				</span>
				<span>
					选择日期：
					<input type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'end_date\',{d:-1})|| $dp.$DV(\'%y-%M-%d\',{d:-1})}'});" class="Wdate" id="start_date" name="start_date" value="<?php echo isset($_REQUEST['start_date'])?$_REQUEST['start_date']:''; ?>" style="width:96px;margin-right:2px;padding-left:4px">~
					<input type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'start_date\',{d:+1})}',maxDate:'%y-%M-%d'});" class="Wdate" id="end_date" name="end_date" value="<?php echo isset($_REQUEST['end_date'])?$_REQUEST['end_date']:''; ?>" style="width:96px;margin-right:2px;padding-left:4px"> 
				</span>
				<span>
					<input type="submit" id="bg_07" value="">
				</span>  
				<div class="clear"></div>
			</form>
			</div>
			<div class="content">
				<form action="" name="myform" id="myform">
				<table width="100%" cellspacing="0" class="table_form">
					<tr>
						<td>关键词</td>
						<td class="td_center">搜索引擎</td>
						<td class="td_center">页码</td>
						<td class="td_center">排名</td>
						<td class="td_center">费用</td>
						<td class="td_center">更新IP</td>
						<td class="td_center">所在区域</td>
						<td class="td_center">所属站点</td>
						<td class="td_center">日期</td>
					</tr>
					{loop $rank_list $k $v}
					<tr>
						<td>{$v['keywords']}</td>
						<td class="td_center">{format::search_engine($v['search_engine'])}</td>
						<td class="td_center">{$v['rpage']}</td>
						<td class="td_center">{$v['rank']}</td>
						<td class="td_center">{$v['fee']}</td>
						<td class="td_center">{$v['ip']}</td>
						<td class="td_center">{$v['city']}</td>
						<td class="td_center">{$v['title']}</td>
						<td>{format::date($v['pubdate'],0)}</td>
					</tr>
					{/loop}
				</table>
				</form>
			</div>
			
			<div id="pages">{$pages}</div>
			<span class="o1"></span><span class="o2"></span><span class="o3"></span><span class="o4"></span>
		</div>
	</div>
</div>
<div class="clear"></div>
{template 'member', 'footer'}