<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>大网站烧钱拼竞争 小站长出路在何方 - 双昌观点 - 重庆圣矢网络科技SEO管理系统</title>
	<meta name="keywords" content="网站,烧钱,竞争">
	<meta name="description" content=" 最近赶集网投入巨资在电视、公交、网络等各种媒体上进行铺天盖地的广告宣传，不仅引发了关于赶集网为赶驴网做嫁衣裳的SEO话题的激烈讨论...">
    <meta http-equiv="x-ua-compatible" content="ie=7" />
    <link href="/statics/hy30ie/css/global.css" rel="stylesheet" type="text/css" />
    <link href="/statics/hy30ie/css/about.css" rel="stylesheet" type="text/css" />
    <script src="/statics/hy30ie/js/jquery-1.8.3.min.js" language="javascript" type="text/javascript"></script>
    <script src="/statics/hy30ie/js/jquery-cookie.js" language="javascript" type="text/javascript"></script>
</head>
<body>
	<!-- 顶部开始 -->
	<div id="top" class="fixed">
		<div class="top_left">
			<img src="/statics/hy30ie/images/logo.png" width="330" height="74" alt="" />
		</div>
		<div class="top_right">
			<div class="snav_1">
				<ul>
					<li><a href="http://localhost.hy30ie.com/html/about/payment/">付款方式</a></li>
					<li class="fenge">|</li>
					<li><a href="http://localhost.hy30ie.com/html/help/">帮助中心</a></li>
					<li class="fenge">|</li>
					<li><a href="/index.php?m=member&c=index&a=public_forget_password&siteid=1">忘记密码</a></li>
					<li class="fenge">|</li>
					<li><a href="/index.php?m=member&c=index&a=register&siteid=1">注册</a></li>
					<li class="fenge">|</li>
					<li><a href="/index.php?m=member&c=index&a=login">登录</a></li>
				</ul>
			</div>
			<div class="snav_2">
				<ul>
					<li>
					<img src="/statics/hy30ie/images/tel.jpg" width="154" height="42" alt="" />
					</li>
				</ul>
				<ul class="smenu">
					<li><a href="#">双昌在线</a></li>
					<li><a href="http://localhost.hy30ie.com/html/agent/">代理加盟</a></li>
					<li><a href="http://localhost.hy30ie.com/html/help/">帮助中心</a></li>
					<li><a href="http://localhost.hy30ie.com/html/about/payment/">付款方式</a></li>
					<li><a href="#">官方微博</a><img src="/statics/hy30ie/images/t2.jpg" alt="" /></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 顶部结束 -->
	
	<!-- 导航开始 -->
	<div id="nav" class="fixed">
		        	<ul class="naver">
			    <li style=" margin-right:10px;"></li>
			    <li class="home">
				   <span class="NavL"></span>
				   <span class="NavM"><a href="/" hidefocus="true" class="HomeBG">首页</a>
				   </span>
				   <span class="NavR">
				   </span>
			    </li>
									<li class="sp"></li>
					<li >
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/html/seo/" hidefocus="true">搜索引擎优化</a></span>
						<span class="NavR"></span>
					</li>
									<li class="sp"></li>
					<li >
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/html/website/" hidefocus="true">网站建设</a></span>
						<span class="NavR"></span>
					</li>
									<li class="sp"></li>
					<li >
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/html/sevsite/" hidefocus="true">网站建设案例</a></span>
						<span class="NavR"></span>
					</li>
									<li class="sp"></li>
					<li >
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/index.php?m=content&c=index&a=lists&catid=13" hidefocus="true">SEO案例</a></span>
						<span class="NavR"></span>
					</li>
									<li class="sp"></li>
					<li  class="cur">
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/html/news/" hidefocus="true">公司新闻</a></span>
						<span class="NavR"></span>
					</li>
								<li class="sp"></li>
				<li >
				  <span class="NavL"></span>
				  <span class="NavM"><a href="http://localhost.hy30ie.com/html/about/profile/" hidefocus="true">双昌简介</a></span>
				  <span class="NavR"></span>
				</li>
            </ul>
        	</div>
	<!-- 导航结束 -->
	
	<div id="mainbg">
		<!-- 主体开始 -->
		<div id="body" class="fixed">
			<div id="c_left"></div>
			<div id="content">				<div id="nav_inf">
				  当前位置：
				  <a class="nb" href="#">
					首页
				  </a>
				  &gt; <a href="http://localhost.hy30ie.com/html/news/">公司新闻</a> > <a href="http://localhost.hy30ie.com/html/view/">双昌观点</a> >  大网站烧钱拼竞争 小站长出路在何方				</div>
								<div class="left">
				  <div class="left_ad1">
					<ul class="La1_ns">
					  <li class="La1_top">
						了解双昌公司
					  </li>
					  					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/profile/">
						  双昌简介						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/history/">
						  发展历程						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/honour/">
						  双昌荣誉						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/service/">
						  服务团队						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/hr/">
						  招贤纳士						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/contactus/">
						  联系我们						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/payment/">
						  付款方式						</a>
					  </li>
					  					  					</ul>
				  </div>
				  <div class="left_ad2">
					<ul class="yous">
					  <li class="youstltle">
						<img src="/statics/hy30ie/images/cdn_14.jpg">
					  </li>
					  
					  <li class="youli">
						通过专业的甄选准确把握有效营销资源标准度
					  </li>
					  <li class="youli">
						六年技术研究积累大量营销经验
					  </li>
					  <li class="youli">
						降低企业网络推广风险
					  </li>
					  <li class="youli">
						规范科学化的管理加技术人才积累，拥有一支铁的技术团队
					  </li>
					  <li class="youli">
						确保服务的精致性
					  </li>
					  <li class="youli2">
						24小时实时保障的服务机制
					  </li>
					</ul>
				  </div>
				  <div class="left_ad4">
				  </div>
				</div>				<div class="content">
				  <div class="Rec_top">
					<ul class="Rec_t Cbg">
					</ul>
					<ul class="Rec_line">
					</ul>
				  </div>
					<div class="newsdetails_con">
						<ul>
						  <li class="newsdetails_title">
							大网站烧钱拼竞争 小站长出路在何方						  </li>
						  <li class="newsdetails_author">
							时间：2013-01-14 16:22:22 &nbsp;&nbsp;&nbsp;来源：<a href='http://hy.30ie.com' target='_blank' style='color:#AAA'>重庆双昌营销策划有限公司</a>&nbsp;&nbsp;&nbsp;作者：&nbsp;&nbsp;&nbsp;点击：<span id="hits"></span>
						  </li>
						  <li class="nds_con">
							&nbsp; 最近赶集网投入巨资在电视、公交、网络等各种媒体上进行铺天盖地的广告宣传，不仅引发了关于赶集网为&ldquo;赶驴网&rdquo;做嫁衣裳的SEO话题的激烈讨论，更多的是 让我们看到了这些财大气粗的大网站在当前为了推广和竞争时能够投入的惊人财力。与此相类似的，更不用说百度、淘宝、阿里巴巴等规模庞大的互联网网站巨头们 在烧钱拼实力方面的力度，让作为草根的个人站长面临这种竞争态势，无疑受到了更多更大的压力。
<p>　　作为&ldquo;势单力薄&rdquo;缺乏财力、人力甚至是精力的个人站长，本想着在互联网的浩瀚海洋中找到属于自己的一片领地，通过个人的努力和拼搏，分得互联网中哪怕 一小块的蛋糕，获利个人的成功。然而，面对大网站此消彼长的烧钱竞争，顿时怀疑互联网当初靠着一已之力便可以大胆创业的日子似乎已经是&ldquo;一去不复返&rdquo;了? 作为小站长的个人站长，要创业，要成功，要成名，出路又在何方?</p>
<p>　　中国有句老话叫做&ldquo;以已之长攻彼之短&rdquo;，近代在毛泽东的军事思想中又提到&ldquo;避其所长，击其所短&rdquo;，都强调了同一个思想，那就是不要拿自己的短处去和敌 人、竞争对手的长处去碰，要拿自己的长处或者说找到、培养自己的长处去和对手的短处去竞争，从而以自己的优势获利竞争的胜利，占据一片天地，创造成功。具 体到网站的竞争之中，中小站长可以灵活借鉴这种传统智慧中蕴含的思想，在竞争中做到灵活应对，用智慧开展与大型网站的竞争，不断调整找到自己的优势所在， 从而一样在互联网中分得自己的一杯羹。结合网站运营的实践，我们可以从以下几个方面具体来做：</p>
<p>　<strong>　一、打造自己的&ldquo;差异化&rdquo;优势。</strong></p>
<p>　　面对大型网站所具有的资金、人才、关系等各种规模化的优势，中小站长绝对不能再在这些方面与之相竞争，否则无异于&ldquo;以卵击石&rdquo;。要赢利与同行中大网站 竞争的胜利，必须要培养自己网站的&ldquo;差异化&rdquo;优势。这就要求站长在前期功课中下足功夫，研究大型网站的发展策略，分析其内容组成，找到隐藏在其强大外表之 下的&ldquo;短板&rdquo;所在。例如有些大型网站多以提供资讯为主，新鲜快速更新的资讯能够吸引用户，但在资源下载特别是精品资源下载方面较为短缺，这时中小站长便可 以在精品资源提供上下功夫，把小网站打造成为精品资源的免费或收费下载平台，从而突出特色，建立并强化自己的&ldquo;差异化&rdquo;优势。在打造&ldquo;差异化&rdquo;优势过程 中，没有定法，站长应当根据自己网站的定位和主题有针对性的进行。</p>
<p>　　<strong>二、打造并突出&ldquo;服务、互动&rdquo;优势。</strong></p>
<p>　　大型网站在快速扩张和发展的同时，不可避免的一个问题往往就是&ldquo;尾大不掉&rdquo;的毛病，毕竟在疯狂扩张的同时，不少的网站内容或者栏目都难以安排足够的人 手进行负责，更多情况下则是批量式的集体更新，为的是保持规模化之后的整体更新速度等，这就造成了大型网站在细节打造、服务提供上往往面临较为欠缺的问 题。针对其这一短板所在，个人站长可以充分发挥&ldquo;船小好掉头&rdquo;的优势，在网站内容提供上更加突出丰富性和精品化，在网站页面上提供咨询或者互动QQ客服， 或者提供相对自由化的留言板进行互动，及时吸纳用户的意见以不断改进，满足用户更多的需求，从而使网站逐渐建立培养出&ldquo;服务、互动&rdquo;方面的优势，经过用心 的经营，把这一优势强化，自然将会吸引并培养出网站更多的忠实粉丝。</p>
<p>　<strong>　三、打造构建独具特色的网站文化和氛围。</strong></p>
<p>　　一个能够让用户快速留下深刻印象并且喜爱上这里的网站，特别是论坛型站点，大都拥有自己的、独具特色的文化和氛围，这主要依靠的是网站、论坛中的管理 团队和既有用户相互努力，共同用热情和智慧营造的良好氛围，这种氛围会使新用户在第一次到访时被吸引并产生留下来的兴趣。而这方面则是大型网站的经营过程 中不易形成的，特别是小网站能够允许更多的一般用户参与到网站的管理之中，而大网站则多由官方管理团队构成，论群众基础和亲和力方面，小网站具有更加明显 的优势。因此，站长可以在这方面下足功夫，营造出属于自己网站的独特网站文化和氛围，不断培养出忠实用户和粉丝，并以此为基础吸引新用户并加以转化，形成 更加庞大的用户队伍。如此，便能倚靠这些优势和大规模网站自信竞争，找到自己的发展之路，闯出一片天地。</p>
						  </li>
						  <li class="chapter" style="margin-top:30px;margin-bottom:10px" >
							<p>
								<strong>相关热词搜索：</strong>
																<a href="http://localhost.hy30ie.com/index.php?m=content&c=tag&catid=10&tag=%E7%BD%91%E7%AB%99" class="blue">网站								</a> 	
																<a href="http://localhost.hy30ie.com/index.php?m=content&c=tag&catid=10&tag=%E7%83%A7%E9%92%B1" class="blue">烧钱								</a> 	
																<a href="http://localhost.hy30ie.com/index.php?m=content&c=tag&catid=10&tag=%E7%AB%9E%E4%BA%89" class="blue">竞争								</a> 	
															</p>
						  </li>
						  <li class="chapter">
							 <strong>上一篇：</strong><a href="http://localhost.hy30ie.com/html/view/10-25-1.html">网站维护的基本常识</a>
						  </li>
						  <li class="chapter">
							<strong>下一篇：</strong><a href="javascript:alert('最后一页');">最后一页</a>
						  </li>
						  <li>
														  								<div class="related">
									<h5 class="blue">延伸阅读：</h5>
									<ul>
																					<li>·<a href="http://localhost.hy30ie.com/html/view/10-17-1.html" target="_blank">网站如何留住回头客方法探析</a><span>(2013-01-14)</span></li>
																					<li>·<a href="http://localhost.hy30ie.com/html/view/10-18-1.html" target="_blank">看准网站质量从友情链接四步法做起</a><span>(2013-01-14)</span></li>
																					<li>·<a href="http://localhost.hy30ie.com/html/view/10-19-1.html" target="_blank">SEO优化网站中的五大操作要点</a><span>(2013-01-14)</span></li>
																					<li>·<a href="http://localhost.hy30ie.com/html/jzzx/11-23-1.html" target="_blank">解读网站维护相关问题</a><span>(2013-01-14)</span></li>
																					<li>·<a href="http://localhost.hy30ie.com/html/view/10-24-1.html" target="_blank">网络营销做到位 网站维护推广是关键</a><span>(2013-01-14)</span></li>
																			</ul>
								</div>
							  													  </li>
						</ul>
						<div class="Article-Tool">
						  分享到：
						  <img src="http://v.t.qq.com/share/images/s/weiboicon16.png" style="padding-bottom:3px;" onclick="postToWb();" class="cu" title="分享到腾讯微博"/>
						  <script type="text/javascript">
							function postToWb(){
								var _t = encodeURI(document.title);
								var _url = encodeURIComponent(document.location);
								var _appkey = encodeURI("cba3558104094dbaa4148d8caa436a0b");
								var _pic = encodeURI('');
								var _site = '';
								var _u = 'http://v.t.qq.com/share/share.php?url='+_url+'&appkey='+_appkey+'&site='+_site+'&pic='+_pic+'&title='+_t;
								window.open( _u,'', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' );
							}
							</script>
							<script type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url='+encodeURIComponent(location.href)+'&appkey=3172366919&title='+encodeURIComponent('大网站烧钱拼竞争 小站长出路在何方')+'" title="分享到新浪微博" class="t1" target="_blank">&nbsp;</a>');</script>
							  <script type="text/javascript">document.write('<a href="http://www.douban.com/recommend/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('大网站烧钱拼竞争 小站长出路在何方')+'" title="分享到豆瓣" class="t2" target="_blank">&nbsp;</a>');</script>
							  <script type="text/javascript">document.write('<a href="http://share.renren.com/share/buttonshare.do?link='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('大网站烧钱拼竞争 小站长出路在何方')+'" title="分享到人人" class="t3" target="_blank">&nbsp;</a>');</script>
							  <script type="text/javascript">document.write('<a href="http://www.kaixin001.com/repaste/share.php?rtitle='+encodeURIComponent('大网站烧钱拼竞争 小站长出路在何方')+'&rurl='+encodeURIComponent(location.href)+'&rcontent=" title="分享到开心网" class="t4" target="_blank">&nbsp;</a>');</script>
							  <script type="text/javascript">document.write('<a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(location.href)+'" title="分享到QQ空间" class="t5" target="_blank">&nbsp;</a>');
							</script>
							<span id='favorite'>
								<a href="javascript:;" onclick="add_favorite('大网站烧钱拼竞争 小站长出路在何方');" class="t6">收藏</a>
							</span>
						</div>
						<script type="text/javascript">
						<!--
							function show_ajax(obj) {
								var keywords = $(obj).text();
								var offset = $(obj).offset();
								var jsonitem = '';
								$.getJSON("http://localhost.hy30ie.com/index.php?m=content&c=index&a=json_list&type=keyword&modelid=1&id=26&keywords="+encodeURIComponent(keywords),
										function(data){
										var j = 1;
										var string = "<div class='point key-float'><div style='position:relative'><div class='arro'></div>";
										string += "<a href='JavaScript:;' onclick='$(this).parent().parent().remove();' hidefocus='true' class='close'><span>关闭</span></a><div class='contents f12'>";
										if(data!=0) {
										  $.each(data, function(i,item){
											j = i+1;
											jsonitem += "<a href='"+item.url+"' target='_blank'>"+j+"、"+item.title+"</a><BR>";
											
										  });
											string += jsonitem;
										} else {
											string += '没有找到相关的信息！';
										}
											string += "</div><span class='o1'></span><span class='o2'></span><span class='o3'></span><span class='o4'></span></div></div>";		
											$(obj).after(string);
											$('.key-float').mouseover(
												function (){
													$(this).siblings().css({"z-index":0})
													$(this).css({"z-index":1001});
												}
											)
											$(obj).next().css({ "left": +offset.left-100, "top": +offset.top+$(obj).height()+12});
										});
							}

							function add_favorite(title) {
								$.getJSON('http://localhost.hy30ie.com/api.php?op=add_favorite&title='+encodeURIComponent(title)+'&url='+encodeURIComponent(location.href)+'&'+Math.random()+'&callback=?', function(data){
									if(data.status==1)	{
										$("#favorite").html('收藏成功');
									} else {
										alert('请登录');
									}
								});
							}

						$(function(){
						  $('#Article .content img').LoadImage(true, 660, 660,'http://localhost.hy30ie.com/statics/images/s_nopic.gif');    
						})
						//-->
						</script>
						<!-- 点击次数 -->
						<script language="JavaScript" src="http://localhost.hy30ie.com/api.php?op=count&id=26&modelid=1"></script>
					</div>
				</div>
				<!-- 底部开始 -->
				<div id="footer" class="fixed">
				<ul id="foot">
					<li>
						<div style=" width:500px; height:95px; float:left;">
						  <ul>
							<li style="clear:both; display:inline; margin-top:30px; margin-left:34px;">
							  Copyright &copy; 2012 30ie .重庆双昌网络营销策划有限公司 All Rights Reserved.
							</li>
							<li style="margin-top:30px;">
							  <img src="/statics/hy30ie/images/f6.gif">
							</li>
							<li id="search">
							  <input type="text" value="重庆双昌网络营销策划有限公司" onfocus="javascript:if(this.value=='重庆双昌网络营销策划有限公司'){this.value='';};" onblur="javascript:if(this.value==''){this.value='重庆双昌网络营销策划有限公司'};" id="search1" name="search1"/>
							</li>
							<li>
							  <input type="button" value="百度一下" id="search_btn" name="search_btn" onclick="baidu()">
							  <script type="text/javascript">
							  function baidu()
							  {
								var search1 = document.getElementById("search1");
								window.open("http://www.baidu.com/s?wd="+search1.value,"new");
							  }
							  </script>
							</li>
						  </ul>
						</div>
						<div style="padding-top:35px; height:50px; float:left; margin-left:0px; ">
						  <!--可信网站图片LOGO安装结束-->
						  <a target="_blank" alt="315网上交易保障中心" href="http://www.315online.com.cn/member/315120069.html">
							<img height="42" border="0" src="/statics/hy30ie/images/315new.GIF">
						  </a>
						  <a target="_blank" alt="12321举报中心" href="http://www.12321.cn/">
							<img border="0" src="/statics/hy30ie/images/friend3.gif">
						  </a>
						  <a target="_blank" alt="itrust信用中心" href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1583021507">
							<img height="30" border="0" src="/statics/hy30ie/images/friend5.gif">
						  </a>
						  <a alt="工信部备案系统认证" target="_blank" href="#">
							<img height="30px" border="0" src="/statics/hy30ie/images/icpba.gif">
						  </a>
						  <a alt="合肥工商" target="_blank" href="#">
							<img height="30px" border="0" src="/statics/hy30ie/images/hfgs.gif">
						  </a>
						  <!-- 网站统计代码开始 -->
							 <!--  <script language="JavaScript" src="http://s95.cnzz.com/stat.php?id=4759726&amp;web_id=4759726&amp;show=pic1">
							  </script> -->
						  <!-- 网站统计代码结束 -->
						</div>
					</li>
				</ul>
				</div>
			<!-- 底部结束 -->
			</div>
			<div id="c_right"></div>
		</div>
	</div>
</body>
</html>				