<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>雷政富视频截图发布至免职63小时 被指被微博秒杀 - 双昌观点 - 重庆圣矢网络科技SEO管理系统</title>
	<meta name="keywords" content="视频,截图,发布">
	<meta name="description" content="CFP图原标题：不到三天 办掉雷书记一起爆料被证实，它的主角是一位官员被拍摄到一段不雅的视频。11月20日晚疑似重庆市北碚区区委书记雷政...">
    <meta http-equiv="x-ua-compatible" content="ie=7" />
    <link href="/statics/hy30ie/css/global.css" rel="stylesheet" type="text/css" />
    <link href="/statics/hy30ie/css/about.css" rel="stylesheet" type="text/css" />
    <script src="/statics/hy30ie/js/jquery-1.8.3.min.js" language="javascript" type="text/javascript"></script>
    <script src="/statics/hy30ie/js/jquery-cookie.js" language="javascript" type="text/javascript"></script>
</head>
<body>
	<!-- 顶部开始 -->
	<div id="top" class="fixed">
		<div class="top_left">
			<img src="/statics/hy30ie/images/logo.png" width="330" height="74" alt="" />
		</div>
		<div class="top_right">
			<div class="snav_1">
				<ul>
					<li><a href="http://localhost.hy30ie.com/html/about/payment/">付款方式</a></li>
					<li class="fenge">|</li>
					<li><a href="http://localhost.hy30ie.com/html/help/">帮助中心</a></li>
					<li class="fenge">|</li>
					<li><a href="/index.php?m=member&c=index&a=public_forget_password&siteid=1">忘记密码</a></li>
					<li class="fenge">|</li>
					<li><a href="/index.php?m=member&c=index&a=register&siteid=1">注册</a></li>
					<li class="fenge">|</li>
					<li><a href="/index.php?m=member&c=index&a=login">登录</a></li>
				</ul>
			</div>
			<div class="snav_2">
				<ul>
					<li>
					<img src="/statics/hy30ie/images/tel.jpg" width="154" height="42" alt="" />
					</li>
				</ul>
				<ul class="smenu">
					<li><a href="#">双昌在线</a></li>
					<li><a href="http://localhost.hy30ie.com/html/agent/">代理加盟</a></li>
					<li><a href="http://localhost.hy30ie.com/html/help/">帮助中心</a></li>
					<li><a href="http://localhost.hy30ie.com/html/about/payment/">付款方式</a></li>
					<li><a href="#">官方微博</a><img src="/statics/hy30ie/images/t2.jpg" alt="" /></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 顶部结束 -->
	
	<!-- 导航开始 -->
	<div id="nav" class="fixed">
		        	<ul class="naver">
			    <li style=" margin-right:10px;"></li>
			    <li class="home">
				   <span class="NavL"></span>
				   <span class="NavM"><a href="/" hidefocus="true" class="HomeBG">首页</a>
				   </span>
				   <span class="NavR">
				   </span>
			    </li>
									<li class="sp"></li>
					<li >
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/html/seo/" hidefocus="true">搜索引擎优化</a></span>
						<span class="NavR"></span>
					</li>
									<li class="sp"></li>
					<li >
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/html/website/" hidefocus="true">网站建设</a></span>
						<span class="NavR"></span>
					</li>
									<li class="sp"></li>
					<li >
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/html/sevsite/" hidefocus="true">网站建设案例</a></span>
						<span class="NavR"></span>
					</li>
									<li class="sp"></li>
					<li >
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/index.php?m=content&c=index&a=lists&catid=13" hidefocus="true">SEO案例</a></span>
						<span class="NavR"></span>
					</li>
									<li class="sp"></li>
					<li  class="cur">
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/html/news/" hidefocus="true">公司新闻</a></span>
						<span class="NavR"></span>
					</li>
								<li class="sp"></li>
				<li >
				  <span class="NavL"></span>
				  <span class="NavM"><a href="http://localhost.hy30ie.com/html/about/profile/" hidefocus="true">双昌简介</a></span>
				  <span class="NavR"></span>
				</li>
            </ul>
        	</div>
	<!-- 导航结束 -->
	
	<div id="mainbg">
		<!-- 主体开始 -->
		<div id="body" class="fixed">
			<div id="c_left"></div>
			<div id="content">				<div id="nav_inf">
				  当前位置：
				  <a class="nb" href="#">
					首页
				  </a>
				  &gt; <a href="http://localhost.hy30ie.com/html/news/">公司新闻</a> > <a href="http://localhost.hy30ie.com/html/view/">双昌观点</a> >  雷政富视频截图发布至免职63小时 被指被微博秒杀				</div>
								<div class="left">
				  <div class="left_ad1">
					<ul class="La1_ns">
					  <li class="La1_top">
						了解双昌公司
					  </li>
					  					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/profile/">
						  双昌简介						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/history/">
						  发展历程						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/honour/">
						  双昌荣誉						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/service/">
						  服务团队						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/hr/">
						  招贤纳士						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/contactus/">
						  联系我们						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/payment/">
						  付款方式						</a>
					  </li>
					  					  					</ul>
				  </div>
				  <div class="left_ad2">
					<ul class="yous">
					  <li class="youstltle">
						<img src="/statics/hy30ie/images/cdn_14.jpg">
					  </li>
					  
					  <li class="youli">
						通过专业的甄选准确把握有效营销资源标准度
					  </li>
					  <li class="youli">
						六年技术研究积累大量营销经验
					  </li>
					  <li class="youli">
						降低企业网络推广风险
					  </li>
					  <li class="youli">
						规范科学化的管理加技术人才积累，拥有一支铁的技术团队
					  </li>
					  <li class="youli">
						确保服务的精致性
					  </li>
					  <li class="youli2">
						24小时实时保障的服务机制
					  </li>
					</ul>
				  </div>
				  <div class="left_ad4">
				  </div>
				</div>				<div class="content">
				  <div class="Rec_top">
					<ul class="Rec_t Cbg">
					</ul>
					<ul class="Rec_line">
					</ul>
				  </div>
					<div class="newsdetails_con">
						<ul>
						  <li class="newsdetails_title">
							雷政富视频截图发布至免职63小时 被指被微博秒杀						  </li>
						  <li class="newsdetails_author">
							时间：2012-11-24 10:40:56 &nbsp;&nbsp;&nbsp;来源：<a href='http://www.ifeng.com' target='_blank'><img src='http://res.img.ifeng.com/8cbe73a7378dafdb/2011/0401/n_12.gif' height='15'></a> <a href='http://www.ifeng.com' target='_blank' style='color:#AAA'>凤凰网</a>&nbsp;&nbsp;&nbsp;作者：&nbsp;&nbsp;&nbsp;点击：<span id="hits"></span>
						  </li>
						  <li class="nds_con">
							<p class="detailPic"><img alt="\" src="http://hy.30ie.com/uploadfile/2012/1124/20121124104156767.jpg" /></p>
<p class="picIntro"><span style="font-family: 楷体_GB2312,楷体">CFP图</span></p>
<p>原标题：不到三天 办掉雷书记</p>
<p>一起爆料被证实，它的主角是一位官员被拍摄到一段不雅的视频。</p>
<p>11月20日晚疑似重庆市北碚区区委书记雷政富不雅视频截图在微博发布。21日有关部门表示注意到此事并开始核实。22日有关部门确定有关视频并非 PS，继续核实当事人身份。23日上午11点重庆市纪委确认不雅视频主角为雷政富本人，重庆市委研究决定免去其书记职务，并对其立案调查。网友称，63个 小时，一个正厅职干部被微博秒杀。舆论一片哗然。</p>
<p><strong>雷政富</strong></p>
<p><strong>因不雅视频被免职</strong></p>
<p>经重庆市纪委调查核实，近日互联网流传有关不雅视频中的男性为北碚区区委书记雷政富。11月23日，重庆市委研究决定，免去雷政富同志北碚区区委书记职务，并对其立案调查。</p>
<p>日前，一篇名为《北碚区委书记雷政富的性爱视频》的文章在网上流传，内含不雅视频截图。微博用户&ldquo;纪许光&rdquo;举报称：&ldquo;在2007年农历大年初一、初 三，时任北碚区区委副书记、区长的被举报人在重庆一宾馆与18岁的二奶进行性淫乱。&rdquo;不雅视频爆料经由微博发出后，迅速被不少网站转载。11月22-23 日，在凯迪社区热帖前10位排名中，有6条帖文与雷政富有关，相关网帖点击量超过20万次。</p>
<p>11月21日上午，重庆市纪委表示，已注意到相关内容，正在了解核实。随后，重庆市将此事件的举报定性为实名举报，有关部门高度重视并展开严肃调查。</p>
<p>经重庆市纪委调查核实，近日互联网流传有关不雅视频中的男性为北碚区区委书记雷政富。11月23日，重庆市委研究决定，免去雷政富北碚区区委书记职 务，并对其立案调查。雷政富，1958年7月生，历任重庆市江津市副市长、重庆市垫江县县长、书记、重庆市九龙坡区委副书记、重庆市北碚区区长、书记。</p>
<p><strong>爆料人</strong></p>
<p><strong>飞赴重庆协助调查</strong></p>
<p>&ldquo;重庆，老纪来了！&rdquo;昨天下午，爆料人纪许光发布的一条微博，应重庆市纪委的邀请，纪许光昨天下午飞赴重庆协助调查。</p>
<p>对此，重庆市纪委未予证实。不过一位纪委官员表示，只要是涉及重庆官员的举报，不管举报者的身份和举报方式，重庆市纪委都会依照程序认真严肃调查核实。这位官员还表示，如果纪许光愿意到重庆予以协助，重庆市纪委表示欢迎。</p>
<p>在微博认证中，纪许光的身份是资深调查记者，他曾供职于南方都市报，2010年因报道记者通辑门事件而备受关注，去年纪许光又以参与调查徐武事件和独家报道河南性奴案轰动全国。</p>
<p>昨晚，当纪许光抵达重庆时，记者对他进行了采访。对于视频的来源，纪许光：&ldquo;视频怎么来的？很抱歉，我们曾答应过最原始的举报人替他保密。&rdquo;记者： &ldquo;这个视频资料是几年前的吗？&rdquo;纪许光：&ldquo;是有一定的时间跨度的。&rdquo;记者：&ldquo;你拿到这个资料是什么时候？&rdquo;纪许光：&ldquo;最早获得是在本月初。&rdquo;记者：&ldquo;是一 个视频资料吗？&rdquo;纪许光：&ldquo;有视频资料，有纸制资料，有录音资料，是一个非常综合性的证据文本。&rdquo;</p>
<p>昨天傍晚，新浪微博对纪许光进行微访谈，很多网友都表达了对纪许光的支持和对他人身安全的担忧。</p>
<p><strong>专家称</strong></p>
<p><strong>以权谋&ldquo;情&rdquo;考问官德</strong></p>
<p>重庆官方23日对北碚区区委书记雷政富不雅视频事件作出初步处理决定，决定免去雷政富北碚区委书记职务，并对其立案调查&hellip;&hellip;重庆党政部门在处理这次 事件时的积极与主动，与公众关注度合拍，重庆的纪检新风获好评。同时，这起事件也引起公众对少数官员以权谋&ldquo;情&rdquo;，官德不彰的反思。</p>
<p>从网络举报，到相关部门了解核实，再到雷政富被免职调查，全程历时仅不到三天时间。</p>
<p>重庆一家外贸公司职员李杨说，与网络的大胆与激动不同，相关部门的调查更审慎和细致。这次在查处&ldquo;雷冠希&rdquo;问题上，重庆市效率很高，从网上曝光到做 出处理决定只用了不到三天的时间，值得肯定。西南政法大学博士生胡夏枫说，是网络反腐与现实反腐有效互动形成强大监督网，让腐败分子无所遁形。部分专家还 表示，对于促进官员清正、政府清廉来说，包括网络在内的媒体舆论监督，是不可或缺的重要力量。</p>
一些干部和专家表示，官德不彰，民风难淳，党政干部是推进社会主义核心价值体系建设的关键人群，应进一步强化&ldquo;以德为先&rdquo;的用人标准，建立科学的干部&ldquo;考德&rdquo;体系，加强对干部权力的外部监督，坚决惩治少廉寡耻的害群之马。综合新华社、央视						  </li>
						  <li class="chapter" style="margin-top:30px;margin-bottom:10px" >
							<p>
								<strong>相关热词搜索：</strong>
																<a href="http://localhost.hy30ie.com/index.php?m=content&c=tag&catid=10&tag=%E8%A7%86%E9%A2%91" class="blue">视频								</a> 	
																<a href="http://localhost.hy30ie.com/index.php?m=content&c=tag&catid=10&tag=%E6%88%AA%E5%9B%BE" class="blue">截图								</a> 	
																<a href="http://localhost.hy30ie.com/index.php?m=content&c=tag&catid=10&tag=%E5%8F%91%E5%B8%83" class="blue">发布								</a> 	
															</p>
						  </li>
						  <li class="chapter">
							 <strong>上一篇：</strong><a href="javascript:alert('第一页');">第一页</a>
						  </li>
						  <li class="chapter">
							<strong>下一篇：</strong><a href="http://localhost.hy30ie.com/html/view/10-6-1.html">外交部回应菲越抗议：中国新版护照不针对特定国家</a>
						  </li>
						  <li>
														  													  </li>
						</ul>
						<div class="Article-Tool">
						  分享到：
						  <img src="http://v.t.qq.com/share/images/s/weiboicon16.png" style="padding-bottom:3px;" onclick="postToWb();" class="cu" title="分享到腾讯微博"/>
						  <script type="text/javascript">
							function postToWb(){
								var _t = encodeURI(document.title);
								var _url = encodeURIComponent(document.location);
								var _appkey = encodeURI("cba3558104094dbaa4148d8caa436a0b");
								var _pic = encodeURI('http://hy.30ie.com/uploadfile/2012/1124/20121124104156767.jpg');
								var _site = '';
								var _u = 'http://v.t.qq.com/share/share.php?url='+_url+'&appkey='+_appkey+'&site='+_site+'&pic='+_pic+'&title='+_t;
								window.open( _u,'', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' );
							}
							</script>
							<script type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url='+encodeURIComponent(location.href)+'&appkey=3172366919&title='+encodeURIComponent('雷政富视频截图发布至免职63小时 被指被微博秒杀')+'" title="分享到新浪微博" class="t1" target="_blank">&nbsp;</a>');</script>
							  <script type="text/javascript">document.write('<a href="http://www.douban.com/recommend/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('雷政富视频截图发布至免职63小时 被指被微博秒杀')+'" title="分享到豆瓣" class="t2" target="_blank">&nbsp;</a>');</script>
							  <script type="text/javascript">document.write('<a href="http://share.renren.com/share/buttonshare.do?link='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('雷政富视频截图发布至免职63小时 被指被微博秒杀')+'" title="分享到人人" class="t3" target="_blank">&nbsp;</a>');</script>
							  <script type="text/javascript">document.write('<a href="http://www.kaixin001.com/repaste/share.php?rtitle='+encodeURIComponent('雷政富视频截图发布至免职63小时 被指被微博秒杀')+'&rurl='+encodeURIComponent(location.href)+'&rcontent=" title="分享到开心网" class="t4" target="_blank">&nbsp;</a>');</script>
							  <script type="text/javascript">document.write('<a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(location.href)+'" title="分享到QQ空间" class="t5" target="_blank">&nbsp;</a>');
							</script>
							<span id='favorite'>
								<a href="javascript:;" onclick="add_favorite('雷政富视频截图发布至免职63小时 被指被微博秒杀');" class="t6">收藏</a>
							</span>
						</div>
						<script type="text/javascript">
						<!--
							function show_ajax(obj) {
								var keywords = $(obj).text();
								var offset = $(obj).offset();
								var jsonitem = '';
								$.getJSON("http://localhost.hy30ie.com/index.php?m=content&c=index&a=json_list&type=keyword&modelid=1&id=5&keywords="+encodeURIComponent(keywords),
										function(data){
										var j = 1;
										var string = "<div class='point key-float'><div style='position:relative'><div class='arro'></div>";
										string += "<a href='JavaScript:;' onclick='$(this).parent().parent().remove();' hidefocus='true' class='close'><span>关闭</span></a><div class='contents f12'>";
										if(data!=0) {
										  $.each(data, function(i,item){
											j = i+1;
											jsonitem += "<a href='"+item.url+"' target='_blank'>"+j+"、"+item.title+"</a><BR>";
											
										  });
											string += jsonitem;
										} else {
											string += '没有找到相关的信息！';
										}
											string += "</div><span class='o1'></span><span class='o2'></span><span class='o3'></span><span class='o4'></span></div></div>";		
											$(obj).after(string);
											$('.key-float').mouseover(
												function (){
													$(this).siblings().css({"z-index":0})
													$(this).css({"z-index":1001});
												}
											)
											$(obj).next().css({ "left": +offset.left-100, "top": +offset.top+$(obj).height()+12});
										});
							}

							function add_favorite(title) {
								$.getJSON('http://localhost.hy30ie.com/api.php?op=add_favorite&title='+encodeURIComponent(title)+'&url='+encodeURIComponent(location.href)+'&'+Math.random()+'&callback=?', function(data){
									if(data.status==1)	{
										$("#favorite").html('收藏成功');
									} else {
										alert('请登录');
									}
								});
							}

						$(function(){
						  $('#Article .content img').LoadImage(true, 660, 660,'http://localhost.hy30ie.com/statics/images/s_nopic.gif');    
						})
						//-->
						</script>
						<!-- 点击次数 -->
						<script language="JavaScript" src="http://localhost.hy30ie.com/api.php?op=count&id=5&modelid=1"></script>
					</div>
				</div>
				<!-- 底部开始 -->
				<div id="footer" class="fixed">
				<ul id="foot">
					<li>
						<div style=" width:500px; height:95px; float:left;">
						  <ul>
							<li style="clear:both; display:inline; margin-top:30px; margin-left:34px;">
							  Copyright &copy; 2012 30ie .重庆双昌网络营销策划有限公司 All Rights Reserved.
							</li>
							<li style="margin-top:30px;">
							  <img src="/statics/hy30ie/images/f6.gif">
							</li>
							<li id="search">
							  <input type="text" value="重庆双昌网络营销策划有限公司" onfocus="javascript:if(this.value=='重庆双昌网络营销策划有限公司'){this.value='';};" onblur="javascript:if(this.value==''){this.value='重庆双昌网络营销策划有限公司'};" id="search1" name="search1"/>
							</li>
							<li>
							  <input type="button" value="百度一下" id="search_btn" name="search_btn" onclick="baidu()">
							  <script type="text/javascript">
							  function baidu()
							  {
								var search1 = document.getElementById("search1");
								window.open("http://www.baidu.com/s?wd="+search1.value,"new");
							  }
							  </script>
							</li>
						  </ul>
						</div>
						<div style="padding-top:35px; height:50px; float:left; margin-left:0px; ">
						  <!--可信网站图片LOGO安装结束-->
						  <a target="_blank" alt="315网上交易保障中心" href="http://www.315online.com.cn/member/315120069.html">
							<img height="42" border="0" src="/statics/hy30ie/images/315new.GIF">
						  </a>
						  <a target="_blank" alt="12321举报中心" href="http://www.12321.cn/">
							<img border="0" src="/statics/hy30ie/images/friend3.gif">
						  </a>
						  <a target="_blank" alt="itrust信用中心" href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1583021507">
							<img height="30" border="0" src="/statics/hy30ie/images/friend5.gif">
						  </a>
						  <a alt="工信部备案系统认证" target="_blank" href="#">
							<img height="30px" border="0" src="/statics/hy30ie/images/icpba.gif">
						  </a>
						  <a alt="合肥工商" target="_blank" href="#">
							<img height="30px" border="0" src="/statics/hy30ie/images/hfgs.gif">
						  </a>
						  <!-- 网站统计代码开始 -->
							 <!--  <script language="JavaScript" src="http://s95.cnzz.com/stat.php?id=4759726&amp;web_id=4759726&amp;show=pic1">
							  </script> -->
						  <!-- 网站统计代码结束 -->
						</div>
					</li>
				</ul>
				</div>
			<!-- 底部结束 -->
			</div>
			<div id="c_right"></div>
		</div>
	</div>
</body>
</html>				