<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>最高检约谈李庄被告知“绝不能让重庆检方调查” - 双昌观点 - 重庆圣矢网络科技SEO管理系统</title>
	<meta name="keywords" content="最高检,约谈,李庄">
	<meta name="description" content="昨天中午，李庄、王誓华律师、龚刚华、龚云飞（从右至左）在约谈后留影。王誓华律师供图原标题：李庄控告重庆市公安局专案组涉嫌徇私枉法获...">
    <meta http-equiv="x-ua-compatible" content="ie=7" />
    <link href="/statics/hy30ie/css/global.css" rel="stylesheet" type="text/css" />
    <link href="/statics/hy30ie/css/about.css" rel="stylesheet" type="text/css" />
    <script src="/statics/hy30ie/js/jquery-1.8.3.min.js" language="javascript" type="text/javascript"></script>
    <script src="/statics/hy30ie/js/jquery-cookie.js" language="javascript" type="text/javascript"></script>
</head>
<body>
	<!-- 顶部开始 -->
	<div id="top" class="fixed">
		<div class="top_left">
			<img src="/statics/hy30ie/images/logo.png" width="330" height="74" alt="" />
		</div>
		<div class="top_right">
			<div class="snav_1">
				<ul>
					<li><a href="http://localhost.hy30ie.com/html/about/payment/">付款方式</a></li>
					<li class="fenge">|</li>
					<li><a href="http://localhost.hy30ie.com/html/help/">帮助中心</a></li>
					<li class="fenge">|</li>
					<li><a href="/index.php?m=member&c=index&a=public_forget_password&siteid=1">忘记密码</a></li>
					<li class="fenge">|</li>
					<li><a href="/index.php?m=member&c=index&a=register&siteid=1">注册</a></li>
					<li class="fenge">|</li>
					<li><a href="/index.php?m=member&c=index&a=login">登录</a></li>
				</ul>
			</div>
			<div class="snav_2">
				<ul>
					<li>
					<img src="/statics/hy30ie/images/tel.jpg" width="154" height="42" alt="" />
					</li>
				</ul>
				<ul class="smenu">
					<li><a href="#">双昌在线</a></li>
					<li><a href="http://localhost.hy30ie.com/html/agent/">代理加盟</a></li>
					<li><a href="http://localhost.hy30ie.com/html/help/">帮助中心</a></li>
					<li><a href="http://localhost.hy30ie.com/html/about/payment/">付款方式</a></li>
					<li><a href="#">官方微博</a><img src="/statics/hy30ie/images/t2.jpg" alt="" /></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 顶部结束 -->
	
	<!-- 导航开始 -->
	<div id="nav" class="fixed">
		        	<ul class="naver">
			    <li style=" margin-right:10px;"></li>
			    <li class="home">
				   <span class="NavL"></span>
				   <span class="NavM"><a href="/" hidefocus="true" class="HomeBG">首页</a>
				   </span>
				   <span class="NavR">
				   </span>
			    </li>
									<li class="sp"></li>
					<li >
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/html/seo/" hidefocus="true">搜索引擎优化</a></span>
						<span class="NavR"></span>
					</li>
									<li class="sp"></li>
					<li >
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/html/website/" hidefocus="true">网站建设</a></span>
						<span class="NavR"></span>
					</li>
									<li class="sp"></li>
					<li >
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/html/sevsite/" hidefocus="true">网站建设案例</a></span>
						<span class="NavR"></span>
					</li>
									<li class="sp"></li>
					<li >
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/index.php?m=content&c=index&a=lists&catid=13" hidefocus="true">SEO案例</a></span>
						<span class="NavR"></span>
					</li>
									<li class="sp"></li>
					<li  class="cur">
						<span class="NavL"></span>
						<span class="NavM"><a href="http://localhost.hy30ie.com/html/news/" hidefocus="true">公司新闻</a></span>
						<span class="NavR"></span>
					</li>
								<li class="sp"></li>
				<li >
				  <span class="NavL"></span>
				  <span class="NavM"><a href="http://localhost.hy30ie.com/html/about/profile/" hidefocus="true">双昌简介</a></span>
				  <span class="NavR"></span>
				</li>
            </ul>
        	</div>
	<!-- 导航结束 -->
	
	<div id="mainbg">
		<!-- 主体开始 -->
		<div id="body" class="fixed">
			<div id="c_left"></div>
			<div id="content">				<div id="nav_inf">
				  当前位置：
				  <a class="nb" href="#">
					首页
				  </a>
				  &gt; <a href="http://localhost.hy30ie.com/html/news/">公司新闻</a> > <a href="http://localhost.hy30ie.com/html/view/">双昌观点</a> >  最高检约谈李庄被告知“绝不能让重庆检方调查”				</div>
								<div class="left">
				  <div class="left_ad1">
					<ul class="La1_ns">
					  <li class="La1_top">
						了解双昌公司
					  </li>
					  					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/profile/">
						  双昌简介						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/history/">
						  发展历程						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/honour/">
						  双昌荣誉						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/service/">
						  服务团队						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/hr/">
						  招贤纳士						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/contactus/">
						  联系我们						</a>
					  </li>
					  					  <li class="La1_bg1">
						<a href="http://localhost.hy30ie.com/html/about/payment/">
						  付款方式						</a>
					  </li>
					  					  					</ul>
				  </div>
				  <div class="left_ad2">
					<ul class="yous">
					  <li class="youstltle">
						<img src="/statics/hy30ie/images/cdn_14.jpg">
					  </li>
					  
					  <li class="youli">
						通过专业的甄选准确把握有效营销资源标准度
					  </li>
					  <li class="youli">
						六年技术研究积累大量营销经验
					  </li>
					  <li class="youli">
						降低企业网络推广风险
					  </li>
					  <li class="youli">
						规范科学化的管理加技术人才积累，拥有一支铁的技术团队
					  </li>
					  <li class="youli">
						确保服务的精致性
					  </li>
					  <li class="youli2">
						24小时实时保障的服务机制
					  </li>
					</ul>
				  </div>
				  <div class="left_ad4">
				  </div>
				</div>				<div class="content">
				  <div class="Rec_top">
					<ul class="Rec_t Cbg">
					</ul>
					<ul class="Rec_line">
					</ul>
				  </div>
					<div class="newsdetails_con">
						<ul>
						  <li class="newsdetails_title">
							最高检约谈李庄被告知“绝不能让重庆检方调查”						  </li>
						  <li class="newsdetails_author">
							时间：2012-11-24 10:42:47 &nbsp;&nbsp;&nbsp;来源：<a href='http://www.ifeng.com' target='_blank'><img src='http://res.img.ifeng.com/8cbe73a7378dafdb/2011/0401/n_12.gif' height='15'></a> <a href='http://www.ifeng.com' target='_blank' style='color:#AAA'>凤凰网</a>&nbsp;&nbsp;&nbsp;作者：&nbsp;&nbsp;&nbsp;点击：<span id="hits"></span>
						  </li>
						  <li class="nds_con">
							<p class="detailPic"><img alt="\" src="http://hy.30ie.com/uploadfile/2012/1124/20121124104335414.jpg" /></p>
<p class="picIntro" style="text-align: left"><span>昨天中午，李庄、王誓华律师、龚刚华、龚云飞（从右至左）在约谈后留影。王誓华律师供图</span></p>
<p>原标题：李庄控告重庆市公安局专案组涉嫌徇私枉法获回应</p>
<p>最高检约谈李庄了解控告案</p>
<p>11月15日，<a href="http://news.ifeng.com/society/special/lizhuang/content-2/detail_2012_11/17/19259880_0.shtml" target="_blank">李庄向最高人民检察院提起控告</a>，指责重庆市公安局李庄案、龚刚模案专案组（以下简称&ldquo;专案组&rdquo;）所有警员涉嫌徇私枉法罪，要求追究其刑事责任。昨天，最高检两名检察官约见了李庄及其代理律师王誓华，龚刚模的亲属龚刚华和龚云飞也到场。李庄向两名检察官表示，他要求重庆检方回避这起控告案。</p>
<p><strong>■案情回放</strong></p>
<p><strong>辩护人遭当事人举报获刑</strong></p>
<p>2009年11月，时任北京康达律师事务所合伙人的李庄接受委托，成为重庆&ldquo;龚刚模涉黑案&rdquo;主要嫌疑人龚刚模的辩护人。当年12月10日，龚刚模向重庆司法机关检举李庄，称李庄教唆他编造&ldquo;被刑讯逼供&rdquo;的虚假口供。&nbsp;</p>
<p>2010年2月9日，重庆市一中院终审认定李庄犯伪造证据、妨害作证罪，判处有期徒刑一年半。2011年3月29日，就在李庄即将刑满释放之时，又被追究&ldquo;遗漏罪行&rdquo;，但该案最终以检方撤诉告终。2011年6月，李庄刑满出狱后，开始为自己申诉。&nbsp;</p>
<p>11月15日，李庄的代理律师王誓华以特快专递方式向最高检寄出了李庄的控告书，一同寄出的还有相关音频、视频共7套。&nbsp;</p>
<p>李庄在控告书中称，龚刚模在狱中通过其兄龚刚华带话给李庄，&ldquo;所谓李庄作伪证，都是专案组逼我举报。他们让我按照他们编好的文字稿背下来，陷害李庄。开庭时装头痛、不回答问题、故意说方言、不讲普通话，也都是专案组警察教的&rdquo;。&nbsp;</p>
<p>龚刚华事后曾多次向李庄表示歉意，并将自己被专案组强迫一审不出庭、二审出庭作伪证及背诵书面伪证（言）的情况向李庄作了陈述。龚刚华还向十余名法学教授和律师做了两小时的录像证词。&nbsp;</p>
<p>李庄表示，他在代理龚刚模涉黑案时，三次会见当事人均有专案组成员在场，且专案组的每个成员都十分明白自己在办案过程中没有伪造证据、妨害作证的行为，但专案组&ldquo;秉承当时重庆领导的旨意，故意违背事实和法律，非法实施侦查&rdquo;。</p>
<p><strong>■约谈情况</strong></p>
<p><strong>龚刚模家属陈述曾作伪证</strong></p>
<p>最高检很快对李庄的控告做出回应。前天，王誓华联系最高检，确定昨天进行约谈。正在深圳出差的李庄即刻赶回北京，龚刚华和龚云飞也从重庆飞抵北京。&nbsp;</p>
<p>从昨天上午9点半开始，在最高检控告厅接待室，李庄、王誓华与最高检的两名检察官谈话约一个半小时，中途，龚刚华和龚云飞被允许进入。&nbsp;</p>
<p>&ldquo;控告没证据不行，今天我们把证人都带来了。&rdquo;李庄说，有龚刚模的亲属在场，约谈时更有说服力。&nbsp;</p>
<p>据李庄介绍，他首先对重庆市公安局专案组如何故意违背事实非法实施侦查行为，如何制造证据等进行了陈述。李庄告诉记者，关于龚刚模及其家属被专案组强迫为李庄案作伪证、被刑警逼供一事，龚刚华和龚云飞在约谈时也都作了陈述。&nbsp;</p>
<p>李庄和王誓华说，最高检的检察官表示，会认真对待这起影响巨大的案件，该案会向上汇报研究，可能要交给属地管辖。&ldquo;我们强烈要求，如果让下级检察院 调查，可以交给其他省市自治区，但绝对不能让重庆的检察院调查。&rdquo;李庄说，他要求重庆检方回避的理由是，其参与了组织龚刚模等人作伪证。&nbsp;</p>
<p>&ldquo;这个案子影响比较大，按照相关规定，应该交由最高检立案侦查，最好是由最高检的控告厅立案调查，甚至成立专门的调查小组。&rdquo;王誓华说。</p>
<p><strong>■申诉进展</strong></p>
<p><strong>下周约谈申诉案</strong></p>
<p>&ldquo;最高检工作人员的态度是积极的，友好的，而且是严肃认真的。毕竟代表的是国家的最高检察机构。&rdquo;对于这次约谈，李庄表示满意。&nbsp;</p>
<p>李庄说，他也找了重庆法院申诉，一年来没有任何动静。前天，他刚刚接到重庆方面的通知，让他下周三上午10点过去，就申诉情况约见谈话，&ldquo;这些都是好的迹象！&rdquo;&nbsp;</p>
<p>昨天约谈结束后，龚云飞和龚刚华飞回重庆。昨晚，龚刚华在电话中向本报记者表示，专案组威胁和强迫他出庭作伪证，甚至专门训练他背诵书面伪证，导致李庄蒙冤。在这次约谈中，他向最高检的检察官如实作了陈述。</p>
本报记者李显峰实习记者刘景慕						  </li>
						  <li class="chapter" style="margin-top:30px;margin-bottom:10px" >
							<p>
								<strong>相关热词搜索：</strong>
																<a href="http://localhost.hy30ie.com/index.php?m=content&c=tag&catid=10&tag=%E6%9C%80%E9%AB%98%E6%A3%80" class="blue">最高检								</a> 	
																<a href="http://localhost.hy30ie.com/index.php?m=content&c=tag&catid=10&tag=%E7%BA%A6%E8%B0%88" class="blue">约谈								</a> 	
																<a href="http://localhost.hy30ie.com/index.php?m=content&c=tag&catid=10&tag=%E6%9D%8E%E5%BA%84" class="blue">李庄								</a> 	
															</p>
						  </li>
						  <li class="chapter">
							 <strong>上一篇：</strong><a href="http://localhost.hy30ie.com/html/view/10-6-1.html">外交部回应菲越抗议：中国新版护照不针对特定国家</a>
						  </li>
						  <li class="chapter">
							<strong>下一篇：</strong><a href="http://localhost.hy30ie.com/html/view/10-17-1.html">网站如何留住回头客方法探析</a>
						  </li>
						  <li>
														  													  </li>
						</ul>
						<div class="Article-Tool">
						  分享到：
						  <img src="http://v.t.qq.com/share/images/s/weiboicon16.png" style="padding-bottom:3px;" onclick="postToWb();" class="cu" title="分享到腾讯微博"/>
						  <script type="text/javascript">
							function postToWb(){
								var _t = encodeURI(document.title);
								var _url = encodeURIComponent(document.location);
								var _appkey = encodeURI("cba3558104094dbaa4148d8caa436a0b");
								var _pic = encodeURI('http://hy.30ie.com/uploadfile/2012/1124/20121124104335414.jpg');
								var _site = '';
								var _u = 'http://v.t.qq.com/share/share.php?url='+_url+'&appkey='+_appkey+'&site='+_site+'&pic='+_pic+'&title='+_t;
								window.open( _u,'', 'width=700, height=680, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' );
							}
							</script>
							<script type="text/javascript">document.write('<a href="http://v.t.sina.com.cn/share/share.php?url='+encodeURIComponent(location.href)+'&appkey=3172366919&title='+encodeURIComponent('最高检约谈李庄被告知“绝不能让重庆检方调查”')+'" title="分享到新浪微博" class="t1" target="_blank">&nbsp;</a>');</script>
							  <script type="text/javascript">document.write('<a href="http://www.douban.com/recommend/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('最高检约谈李庄被告知“绝不能让重庆检方调查”')+'" title="分享到豆瓣" class="t2" target="_blank">&nbsp;</a>');</script>
							  <script type="text/javascript">document.write('<a href="http://share.renren.com/share/buttonshare.do?link='+encodeURIComponent(location.href)+'&title='+encodeURIComponent('最高检约谈李庄被告知“绝不能让重庆检方调查”')+'" title="分享到人人" class="t3" target="_blank">&nbsp;</a>');</script>
							  <script type="text/javascript">document.write('<a href="http://www.kaixin001.com/repaste/share.php?rtitle='+encodeURIComponent('最高检约谈李庄被告知“绝不能让重庆检方调查”')+'&rurl='+encodeURIComponent(location.href)+'&rcontent=" title="分享到开心网" class="t4" target="_blank">&nbsp;</a>');</script>
							  <script type="text/javascript">document.write('<a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(location.href)+'" title="分享到QQ空间" class="t5" target="_blank">&nbsp;</a>');
							</script>
							<span id='favorite'>
								<a href="javascript:;" onclick="add_favorite('最高检约谈李庄被告知“绝不能让重庆检方调查”');" class="t6">收藏</a>
							</span>
						</div>
						<script type="text/javascript">
						<!--
							function show_ajax(obj) {
								var keywords = $(obj).text();
								var offset = $(obj).offset();
								var jsonitem = '';
								$.getJSON("http://localhost.hy30ie.com/index.php?m=content&c=index&a=json_list&type=keyword&modelid=1&id=7&keywords="+encodeURIComponent(keywords),
										function(data){
										var j = 1;
										var string = "<div class='point key-float'><div style='position:relative'><div class='arro'></div>";
										string += "<a href='JavaScript:;' onclick='$(this).parent().parent().remove();' hidefocus='true' class='close'><span>关闭</span></a><div class='contents f12'>";
										if(data!=0) {
										  $.each(data, function(i,item){
											j = i+1;
											jsonitem += "<a href='"+item.url+"' target='_blank'>"+j+"、"+item.title+"</a><BR>";
											
										  });
											string += jsonitem;
										} else {
											string += '没有找到相关的信息！';
										}
											string += "</div><span class='o1'></span><span class='o2'></span><span class='o3'></span><span class='o4'></span></div></div>";		
											$(obj).after(string);
											$('.key-float').mouseover(
												function (){
													$(this).siblings().css({"z-index":0})
													$(this).css({"z-index":1001});
												}
											)
											$(obj).next().css({ "left": +offset.left-100, "top": +offset.top+$(obj).height()+12});
										});
							}

							function add_favorite(title) {
								$.getJSON('http://localhost.hy30ie.com/api.php?op=add_favorite&title='+encodeURIComponent(title)+'&url='+encodeURIComponent(location.href)+'&'+Math.random()+'&callback=?', function(data){
									if(data.status==1)	{
										$("#favorite").html('收藏成功');
									} else {
										alert('请登录');
									}
								});
							}

						$(function(){
						  $('#Article .content img').LoadImage(true, 660, 660,'http://localhost.hy30ie.com/statics/images/s_nopic.gif');    
						})
						//-->
						</script>
						<!-- 点击次数 -->
						<script language="JavaScript" src="http://localhost.hy30ie.com/api.php?op=count&id=7&modelid=1"></script>
					</div>
				</div>
				<!-- 底部开始 -->
				<div id="footer" class="fixed">
				<ul id="foot">
					<li>
						<div style=" width:500px; height:95px; float:left;">
						  <ul>
							<li style="clear:both; display:inline; margin-top:30px; margin-left:34px;">
							  Copyright &copy; 2012 30ie .重庆双昌网络营销策划有限公司 All Rights Reserved.
							</li>
							<li style="margin-top:30px;">
							  <img src="/statics/hy30ie/images/f6.gif">
							</li>
							<li id="search">
							  <input type="text" value="重庆双昌网络营销策划有限公司" onfocus="javascript:if(this.value=='重庆双昌网络营销策划有限公司'){this.value='';};" onblur="javascript:if(this.value==''){this.value='重庆双昌网络营销策划有限公司'};" id="search1" name="search1"/>
							</li>
							<li>
							  <input type="button" value="百度一下" id="search_btn" name="search_btn" onclick="baidu()">
							  <script type="text/javascript">
							  function baidu()
							  {
								var search1 = document.getElementById("search1");
								window.open("http://www.baidu.com/s?wd="+search1.value,"new");
							  }
							  </script>
							</li>
						  </ul>
						</div>
						<div style="padding-top:35px; height:50px; float:left; margin-left:0px; ">
						  <!--可信网站图片LOGO安装结束-->
						  <a target="_blank" alt="315网上交易保障中心" href="http://www.315online.com.cn/member/315120069.html">
							<img height="42" border="0" src="/statics/hy30ie/images/315new.GIF">
						  </a>
						  <a target="_blank" alt="12321举报中心" href="http://www.12321.cn/">
							<img border="0" src="/statics/hy30ie/images/friend3.gif">
						  </a>
						  <a target="_blank" alt="itrust信用中心" href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1583021507">
							<img height="30" border="0" src="/statics/hy30ie/images/friend5.gif">
						  </a>
						  <a alt="工信部备案系统认证" target="_blank" href="#">
							<img height="30px" border="0" src="/statics/hy30ie/images/icpba.gif">
						  </a>
						  <a alt="合肥工商" target="_blank" href="#">
							<img height="30px" border="0" src="/statics/hy30ie/images/hfgs.gif">
						  </a>
						  <!-- 网站统计代码开始 -->
							 <!--  <script language="JavaScript" src="http://s95.cnzz.com/stat.php?id=4759726&amp;web_id=4759726&amp;show=pic1">
							  </script> -->
						  <!-- 网站统计代码结束 -->
						</div>
					</li>
				</ul>
				</div>
			<!-- 底部结束 -->
			</div>
			<div id="c_right"></div>
		</div>
	</div>
</body>
</html>				