				<div class="left">
				  <div class="left_ad1">
					<ul class="La1_ns">
					  <li class="La1_top">
						了解双昌公司
					  </li>
					  {pc:content action="category" catid="1" siteid="$siteid" order="listorder ASC"}
					  {loop $data $r}
					  <li {if $catid==$r[catid]} class="La1_bg2"{else}class="La1_bg1"{/if}>
						<a href="{$r[url]}">
						  {$r[catname]}
						</a>
					  </li>
					  {/loop}
					  {/pc}
					</ul>
				  </div>
				  <div class="left_ad2">
					<ul class="yous">
					  <li class="youstltle">
						<img src="{TEMPLETS_SKIN}/images/cdn_14.jpg">
					  </li>
					  
					  <li class="youli">
						通过专业的甄选准确把握有效营销资源标准度
					  </li>
					  <li class="youli">
						六年技术研究积累大量营销经验
					  </li>
					  <li class="youli">
						降低企业网络推广风险
					  </li>
					  <li class="youli">
						规范科学化的管理加技术人才积累，拥有一支铁的技术团队
					  </li>
					  <li class="youli">
						确保服务的精致性
					  </li>
					  <li class="youli2">
						24小时实时保障的服务机制
					  </li>
					</ul>
				  </div>
				  <div class="left_ad4">
				  </div>
				</div>